.products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.product-card{
    border: 1px solid #e5e5e5;
    padding: 15px;
    width: 220px;
}
.product-card p{
    color: #666;
    font-size: 14px;
    margin: 5px 0;
}

.product-card img{
    width: 100%;
    height: 200%;
    object-fit: contain;

}
.add-cart-button{
    width: 100%;
    padding: 10px;
    background-color: #111111;
    color: #C9a227;
    border: 1px solid #C9A227;
    cursor: pointer;
    transition: 0.3s;

}
.add-cart-button:hover {
    background-color: #C9A227;
    color: #111111;
}