body{
    margin: 0;
    padding: 0;
}
.Header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background-color: #111111;
}
.app{
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}
.light-mode{
     background-color: #FAF9F6;
    color: #111111;
}
.dark-mode{
    background-color: #111111;
    color: #FAF9F6;
}